@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&subset=cyrillic');

/*********************************************/
@font-face {
  font-family: 'GothamProNarrow-Medium';
  src: url('../fonts/GothamProNarrow-Medium.eot');
  src: url('../fonts/GothamProNarrow-Medium.woff2') format('woff2'),
       url('../fonts/GothamProNarrow-Medium.woff') format('woff'),
       url('../fonts/GothamProNarrow-Medium.ttf') format('truetype'),
       url('../fonts/GothamProNarrow-Medium.svg#GothamProNarrow-Medium') format('svg'),
       url('../fonts/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamProNarrow-Bold';
  src: url('../fonts/GothamProNarrow-Bold.eot');
  src: url('../fonts/GothamProNarrow-Bold.woff2') format('woff2'),
       url('../fonts/GothamProNarrow-Bold.woff') format('woff'),
       url('../fonts/GothamProNarrow-Bold.ttf') format('truetype'),
       url('../fonts/GothamProNarrow-Bold.svg#GothamProNarrow-Bold') format('svg'),
       url('../fonts/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-MediumItalic';
  src: url('../fonts/GothamPro-MediumItalic.eot');
  src: url('../fonts/GothamPro-MediumItalic.woff2') format('woff2'),
       url('../fonts/GothamPro-MediumItalic.woff') format('woff'),
       url('../fonts/GothamPro-MediumItalic.ttf') format('truetype'),
       url('../fonts/GothamPro-MediumItalic.svg#GothamPro-MediumItalic') format('svg'),
       url('../fonts/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Medium';
  src: url('../fonts/GothamPro-Medium.eot');
  src: url('../fonts/GothamPro-Medium.woff2') format('woff2'),
       url('../fonts/GothamPro-Medium.woff') format('woff'),
       url('../fonts/GothamPro-Medium.ttf') format('truetype'),
       url('../fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg'),
       url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-LightItalic';
  src: url('../fonts/GothamPro-LightItalic.eot');
  src: url('../fonts/GothamPro-LightItalic.woff2') format('woff2'),
       url('../fonts/GothamPro-LightItalic.woff') format('woff'),
       url('../fonts/GothamPro-LightItalic.ttf') format('truetype'),
       url('../fonts/GothamPro-LightItalic.svg#GothamPro-LightItalic') format('svg'),
       url('../fonts/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url('../fonts/GothamPro-Light.eot');
  src: url('../fonts/GothamPro-Light.woff2') format('woff2'),
       url('../fonts/GothamPro-Light.woff') format('woff'),
       url('../fonts/GothamPro-Light.ttf') format('truetype'),
       url('../fonts/GothamPro-Light.svg#GothamPro-Light') format('svg'),
       url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Italic';
  src: url('../fonts/GothamPro-Italic.eot');
  src: url('../fonts/GothamPro-Italic.woff2') format('woff2'),
       url('../fonts/GothamPro-Italic.woff') format('woff'),
       url('../fonts/GothamPro-Italic.ttf') format('truetype'),
       url('../fonts/GothamPro-Italic.svg#GothamPro-Italic') format('svg'),
       url('../fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-BoldItalic';
  src: url('../fonts/GothamPro-BoldItalic.eot');
  src: url('../fonts/GothamPro-BoldItalic.woff2') format('woff2'),
       url('../fonts/GothamPro-BoldItalic.woff') format('woff'),
       url('../fonts/GothamPro-BoldItalic.ttf') format('truetype'),
       url('../fonts/GothamPro-BoldItalic.svg#GothamPro-BoldItalic') format('svg'),
       url('../fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../fonts/GothamPro-Bold.eot');
  src: url('../fonts/GothamPro-Bold.woff2') format('woff2'),
       url('../fonts/GothamPro-Bold.woff') format('woff'),
       url('../fonts/GothamPro-Bold.ttf') format('truetype'),
       url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg'),
       url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-BlackItalic';
  src: url('../fonts/GothamPro-BlackItalic.eot');
  src: url('../fonts/GothamPro-BlackItalic.woff2') format('woff2'),
       url('../fonts/GothamPro-BlackItalic.woff') format('woff'),
       url('../fonts/GothamPro-BlackItalic.ttf') format('truetype'),
       url('../fonts/GothamPro-BlackItalic.svg#GothamPro-BlackItalic') format('svg'),
       url('../fonts/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Black';
  src: url('../fonts/GothamPro-Black.eot');
  src: url('../fonts/GothamPro-Black.woff2') format('woff2'),
       url('../fonts/GothamPro-Black.woff') format('woff'),
       url('../fonts/GothamPro-Black.ttf') format('truetype'),
       url('../fonts/GothamPro-Black.svg#GothamPro-Black') format('svg'),
       url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.eot');
  src: url('../fonts/GothamPro.woff2') format('woff2'),
       url('../fonts/GothamPro.woff') format('woff'),
       url('../fonts/GothamPro.ttf') format('truetype'),
       url('../fonts/GothamPro.svg#GothamPro') format('svg'),
       url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/* font-family: 'Open Sans', sans-serif; */
@font-face {
	font-family: "ProximaNova";
	src: url("../GothamProProximaNova-Regular.ttf") format("truetype"),
	url("../fonts/ProximaNova-Regular.woff") format("woff"),
	url("../fonts/ProximaNova-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal
}@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");	
	font-weight: normal;
	font-style: normal
}@font-face {
	font-family: "OpenSansLight";
	src: url("../fonts/OpenSans-Light.ttf") format("truetype");	
	font-weight: normal;
	font-style: normal
}@font-face {
	font-family: "OpenSansBold";
	src: url("../fonts/OpenSans-Bold.ttf") format("truetype");	
	font-weight: normal;
	font-style: normal
}
/* *********************************** */
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");  
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: 'MetaSerifPro-Medium';
  src: url('../fonts/MetaSerifPro-Medium.eot');
  src: url('../fonts/MetaSerifPro-Medium.woff2') format('woff2'),
       url('../fonts/MetaSerifPro-Medium.woff') format('woff'),
       url('../fonts/MetaSerifPro-Medium.ttf') format('truetype'),
       url('../fonts/MetaSerifPro-Medium.svg#MetaSerifPro-Medium') format('svg'),
       url('../fonts/MetaSerifPro-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MetaSerifPro-LightItalic';
  src: url('../fonts/MetaSerifPro-LightItalic.eot');
  src: url('../fonts/MetaSerifPro-LightItalic.woff2') format('woff2'),
       url('../fonts/MetaSerifPro-LightItalic.woff') format('woff'),
       url('../fonts/MetaSerifPro-LightItalic.ttf') format('truetype'),
       url('../fonts/MetaSerifPro-LightItalic.svg#MetaSerifPro-LightItalic') format('svg'),
       url('../fonts/MetaSerifPro-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MetaSerifPro-Light';
  src: url('../fonts/MetaSerifPro-Light.eot');
  src: url('../fonts/MetaSerifPro-Light.woff2') format('woff2'),
       url('../fonts/MetaSerifPro-Light.woff') format('woff'),
       url('../fonts/MetaSerifPro-Light.ttf') format('truetype'),
       url('../fonts/MetaSerifPro-Light.svg#MetaSerifPro-Light') format('svg'),
       url('../fonts/MetaSerifPro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MetaSerifPro-ExtraboldItalic';
  src: url('../fonts/MetaSerifPro-ExtraboldItalic.eot');
  src: url('../fonts/MetaSerifPro-ExtraboldItalic.woff2') format('woff2'),
       url('../fonts/MetaSerifPro-ExtraboldItalic.woff') format('woff'),
       url('../fonts/MetaSerifPro-ExtraboldItalic.ttf') format('truetype'),
       url('../fonts/MetaSerifPro-ExtraboldItalic.svg#MetaSerifPro-ExtraboldItalic') format('svg'),
       url('../fonts/MetaSerifPro-ExtraboldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaSerifPro-Extrabold';
  src: url('../fonts/MetaSerifPro-Extrabold.eot');
  src: url('../fonts/MetaSerifPro-Extrabold.woff2') format('woff2'),
       url('../fonts/MetaSerifPro-Extrabold.woff') format('woff'),
       url('../fonts/MetaSerifPro-Extrabold.ttf') format('truetype'),
       url('../fonts/MetaSerifPro-Extrabold.svg#MetaSerifPro-Extrabold') format('svg'),
       url('../fonts/MetaSerifPro-Extrabold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaSerifPro-BookItalic';
  src: url('../fonts/MetaSerifPro-BookItalic.eot');
  src: url('../fonts/MetaSerifPro-BookItalic.woff2') format('woff2'),
       url('../fonts/MetaSerifPro-BookItalic.woff') format('woff'),
       url('../fonts/MetaSerifPro-BookItalic.ttf') format('truetype'),
       url('../fonts/MetaSerifPro-BookItalic.svg#MetaSerifPro-BookItalic') format('svg'),
       url('../fonts/MetaSerifPro-BookItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaSerifPro-Book';
  src: url('../fonts/MetaSerifPro-Book.eot');
  src: url('../fonts/MetaSerifPro-Book.woff2') format('woff2'),
       url('../fonts/MetaSerifPro-Book.woff') format('woff'),
       url('../fonts/MetaSerifPro-Book.ttf') format('truetype'),
       url('../fonts/MetaSerifPro-Book.svg#MetaSerifPro-Book') format('svg'),
       url('../fonts/MetaSerifPro-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaSerifPro-BoldItalic';
  src: url('../fonts/MetaSerifPro-BoldItalic.eot');
  src: url('../fonts/MetaSerifPro-BoldItalic.woff2') format('woff2'),
       url('../fonts/MetaSerifPro-BoldItalic.woff') format('woff'),
       url('../fonts/MetaSerifPro-BoldItalic.ttf') format('truetype'),
       url('../fonts/MetaSerifPro-BoldItalic.svg#MetaSerifPro-BoldItalic') format('svg'),
       url('../fonts/MetaSerifPro-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaSerifPro-Bold';
  src: url('../fonts/MetaSerifPro-Bold.eot');
  src: url('../fonts/MetaSerifPro-Bold.woff2') format('woff2'),
       url('../fonts/MetaSerifPro-Bold.woff') format('woff'),
       url('../fonts/MetaSerifPro-Bold.ttf') format('truetype'),
       url('../fonts/MetaSerifPro-Bold.svg#MetaSerifPro-Bold') format('svg'),
       url('../fonts/MetaSerifPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaSerifPro-BlackItalic';
  src: url('../fonts/MetaSerifPro-BlackItalic.eot');
  src: url('../fonts/MetaSerifPro-BlackItalic.woff2') format('woff2'),
       url('../fonts/MetaSerifPro-BlackItalic.woff') format('woff'),
       url('../fonts/MetaSerifPro-BlackItalic.ttf') format('truetype'),
       url('../fonts/MetaSerifPro-BlackItalic.svg#MetaSerifPro-BlackItalic') format('svg'),
       url('../fonts/MetaSerifPro-BlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MetaSerifPro-Black';
  src: url('../fonts/MetaSerifPro-Black.eot');
  src: url('../fonts/MetaSerifPro-Black.woff2') format('woff2'),
       url('../fonts/MetaSerifPro-Black.woff') format('woff'),
       url('../fonts/MetaSerifPro-Black.ttf') format('truetype'),
       url('../fonts/MetaSerifPro-Black.svg#MetaSerifPro-Black') format('svg'),
       url('../fonts/MetaSerifPro-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaPro-NormalItalic';
  src: url('../fonts/MetaPro-NormalItalic.eot');
  src: url('../fonts/MetaPro-NormalItalic.woff2') format('woff2'),
       url('../fonts/MetaPro-NormalItalic.woff') format('woff'),
       url('../fonts/MetaPro-NormalItalic.ttf') format('truetype'),
       url('../fonts/MetaPro-NormalItalic.svg#MetaPro-NormalItalic') format('svg'),
       url('../fonts/MetaPro-NormalItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaPro-Normal';
  src: url('../fonts/MetaPro-Normal.eot');
  src: url('../fonts/MetaPro-Normal.woff2') format('woff2'),
       url('../fonts/MetaPro-Normal.woff') format('woff'),
       url('../fonts/MetaPro-Normal.ttf') format('truetype'),
       url('../fonts/MetaPro-Normal.svg#MetaPro-Normal') format('svg'),
       url('../fonts/MetaPro-Normal.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaPro-MediumItalic';
  src: url('../fonts/MetaPro-MediumItalic.eot');
  src: url('../fonts/MetaPro-MediumItalic.woff2') format('woff2'),
       url('../fonts/MetaPro-MediumItalic.woff') format('woff'),
       url('../fonts/MetaPro-MediumItalic.ttf') format('truetype'),
       url('../fonts/MetaPro-MediumItalic.svg#MetaPro-MediumItalic') format('svg'),
       url('../fonts/MetaPro-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaPro-Medium';
  src: url('../fonts/MetaPro-Medium.eot');
  src: url('../fonts/MetaPro-Medium.woff2') format('woff2'),
       url('../fonts/MetaPro-Medium.woff') format('woff'),
       url('../fonts/MetaPro-Medium.ttf') format('truetype'),
       url('../fonts/MetaPro-Medium.svg#MetaPro-Medium') format('svg'),
       url('../fonts/MetaPro-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaPro-BookItalic';
  src: url('../fonts/MetaPro-BookItalic.eot');
  src: url('../fonts/MetaPro-BookItalic.woff2') format('woff2'),
       url('../fonts/MetaPro-BookItalic.woff') format('woff'),
       url('../fonts/MetaPro-BookItalic.ttf') format('truetype'),
       url('../fonts/MetaPro-BookItalic.svg#MetaPro-BookItalic') format('svg'),
       url('../fonts/MetaPro-BookItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaPro-Book';
  src: url('../fonts/MetaPro-Book.eot');
  src: url('../fonts/MetaPro-Book.woff2') format('woff2'),
       url('../fonts/MetaPro-Book.woff') format('woff'),
       url('../fonts/MetaPro-Book.ttf') format('truetype'),
       url('../fonts/MetaPro-Book.svg#MetaPro-Book') format('svg'),
       url('../fonts/MetaPro-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaPro-BoldItalic';
  src: url('../fonts/MetaPro-BoldItalic.eot');
  src: url('../fonts/MetaPro-BoldItalic.woff2') format('woff2'),
       url('../fonts/MetaPro-BoldItalic.woff') format('woff'),
       url('../fonts/MetaPro-BoldItalic.ttf') format('truetype'),
       url('../fonts/MetaPro-BoldItalic.svg#MetaPro-BoldItalic') format('svg'),
       url('../fonts/MetaPro-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaPro-Bold';
  src: url('../fonts/MetaPro-Bold.eot');
  src: url('../fonts/MetaPro-Bold.woff2') format('woff2'),
       url('../fonts/MetaPro-Bold.woff') format('woff'),
       url('../fonts/MetaPro-Bold.ttf') format('truetype'),
       url('../fonts/MetaPro-Bold.svg#MetaPro-Bold') format('svg'),
       url('../fonts/MetaPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaPro-BlackItalic';
  src: url('../fonts/MetaPro-BlackItalic.eot');
  src: url('../fonts/MetaPro-BlackItalic.woff2') format('woff2'),
       url('../fonts/MetaPro-BlackItalic.woff') format('woff'),
       url('../fonts/MetaPro-BlackItalic.ttf') format('truetype'),
       url('../fonts/MetaPro-BlackItalic.svg#MetaPro-BlackItalic') format('svg'),
       url('../fonts/MetaPro-BlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaPro-Black';
  src: url('../fonts/MetaPro-Black.eot');
  src: url('../fonts/MetaPro-Black.woff2') format('woff2'),
       url('../fonts/MetaPro-Black.woff') format('woff'),
       url('../fonts/MetaPro-Black.ttf') format('truetype'),
       url('../fonts/MetaPro-Black.svg#MetaPro-Black') format('svg'),
       url('../fonts/MetaPro-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Academy-Italic';
  src: url('../fonts/Academy-Italic.eot');
  src: url('../fonts/Academy-Italic.woff2') format('woff2'),
       url('../fonts/Academy-Italic.woff') format('woff'),
       url('../fonts/Academy-Italic.ttf') format('truetype'),
       url('../fonts/Academy-Italic.svg#Academy-Italic') format('svg'),
       url('../fonts/Academy-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Academy-Bold';
  src: url('../fonts/Academy-Bold.eot');
  src: url('../fonts/Academy-Bold.woff2') format('woff2'),
       url('../fonts/Academy-Bold.woff') format('woff'),
       url('../fonts/Academy-Bold.ttf') format('truetype'),
       url('../fonts/Academy-Bold.svg#Academy-Bold') format('svg'),
       url('../fonts/Academy-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Academy-Regular';
  src: url('../fonts/Academy-Regular.eot');
  src: url('../fonts/Academy-Regular.woff2') format('woff2'),
       url('../fonts/Academy-Regular.woff') format('woff'),
       url('../fonts/Academy-Regular.ttf') format('truetype'),
       url('../fonts/Academy-Regular.svg#Academy-Regular') format('svg'),
       url('../fonts/Academy-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaSerifPro-MediumItalic';
  src: url('../fonts/MetaSerifPro-MediumItalic.eot');
  src: url('../fonts/MetaSerifPro-MediumItalic.woff2') format('woff2'),
       url('../fonts/MetaSerifPro-MediumItalic.woff') format('woff'),
       url('../fonts/MetaSerifPro-MediumItalic.ttf') format('truetype'),
       url('../fonts/MetaSerifPro-MediumItalic.svg#MetaSerifPro-MediumItalic') format('svg'),
       url('../fonts/MetaSerifPro-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


/*Helvetica*/
@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url('../fonts/HelveticaNeueCyr-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Heavy';
  src: url('../fonts/HelveticaNeueCyr-Heavy.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('../fonts/HelveticaNeueCyr-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('../fonts/HelveticaNeueCyr-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url('../fonts/HelveticaNeueCyr-Roman.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Thin';
  src: url('../fonts/HelveticaNeueCyr-Thin.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-UltraLight';
  src: url('../fonts/HelveticaNeueCyr-UltraLight.otf');
  font-weight: normal;
  font-style: normal;
}

